includes:
    - phpstan-baseline.php
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
parameters:
    level: max
    tmpDir: .cache/phpstan
    paths:
        - app
        - tests
